#title, #recommend {
    font-family: 'Chewy', cursive;
    color: #FFE400;
}

#Poltawski {
    font-family: 'Poltawski Nowy', serif;
    color: #FFFFFF;
}

#STIX {
    font-family: 'STIX Two Text', serif;
    color:#0050A0;
    font-weight: bold;
}